[*.cs]

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false

##
## StyleCop.Analyzers
## https://gist.github.com/srmagura/234c41af2de14568c5cdef841c71a29b
##

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1128: Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity = none

# Using directive should appear within a namespace declaration
dotnet_diagnostic.SA1200.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# SA1311: Static readonly fields should begin with upper-case letter
dotnet_diagnostic.SA1311.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# The file header is missing or not located at the top of the file
dotnet_diagnostic.SA1633.severity = None

# S4144: Methods should not have identical implementations
dotnet_diagnostic.S4144.severity = none